.hide {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/*  */
/* conteiner */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {    
    .container {
     max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }
}
/* -=- */
/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-dop {
    padding: 16px 0;
    display: block;
}

.header-logo-color {
    color: #2e2f42;
}

.byrger-btm {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .byrger-btm {
    display: none;
    }
    
    .header-list {
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-logo-dop {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-navigation-content.current {
        position: relative;
    }
    
    .header-navigation-content.current:hover {
        color: #404bbf;
    }
    
    .header-navigation-content.current:focus {
        color: #404bbf;
    }
    
    .header-navigation-content {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        padding: 24px 0 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        padding: 24px 0;
    }
    
    .header-navigation-content-none {
        color: #2E2F42;
    }

    .current::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-navigation-content:hover,
    .header-navigation-content:focus {
        color: #404bbf;
    }

    /* contact */
    
    .contacts {
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-list-content {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-list-content:hover,
    .contacts-list-content:focus {
        color: #404bbf;
    }
}


@media screen and (min-width: 1158px) {
    .header-logo-dop {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-list-content {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
    }
}

/* -=- */
/* mobal */
.modal-mobile.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-mobile {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mobile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.mobil-btn-close {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link.current,
.mobile-address-link.current {
    color: #404bbf;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-address {
    margin-bottom: 48px;
}

.mobile-address-link {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-address-link:hover{
    color:#4D5AE5;
}

.mobile-address-link:focus {
    color: #4D5AE5;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-social-list {
    gap: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.team-social-icon {
    fill: #f4f4fd;
}
/* information */

.information-section {
    width: 320px;
    height: 432px;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.information {
    width: 216px;
    height: 160px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 72px;
    margin-top: -116px;
    padding: 0px 16px;
}

.information-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: var(--button-bg-color);
    margin: 0;
    margin-left: 75px;
    margin-right: 76px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
    --button-bg-color: #4d5ae5;
}

.information-button:hover {
    background-color: #404BBF;
}

.information-button:focus {
    background-color: #404BBF;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 768px) {
.information-section {
    width: 768px;
    height: 4326x;
    background-color: #2e2f42;
    padding-left: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-2x.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.information {
    width: 496px;
    height: 120px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-left: 136px;
    margin-top: -80px;
    margin-right: 136px;
    margin-bottom: 36px;
    padding-right: 0px;
    padding-left: 0px;
}

.information-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: var(--button-bg-color);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px) {
.information-section {
        background-color: #2e2f42;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    .information {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }

    :root {
        --button-bg-color: #4d5ae5;
    }

    .information-button {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: var(--button-bg-color);
        border-radius: 4px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
/* -=- */
/* box-2 */

@media screen and (min-width: 0px) and (max-width: 768px) {
    .icons {
        display: none;
    }

    .section {
        padding: 96px 0;
    }

    .container {
        width: 100%;
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    ul {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
    }

    .icon-contant {
        display: none;
    }

    .advantages-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .advantages-text {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

}

@media screen and (min-width: 769px)  {
    .icons {
        display: none;
    }

    .section {
        padding: 96px 0;
    }

    .container {
        max-width: 768px;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .advantages-item {
        width: calc((100% - 48px) / 2);
    }

    .advantages-subtitle {
        text-align: left;
        font-weight: 700px;
        font-size: 36px;
    }

    .advantages-text {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

}

@media screen and (min-width: 1152px) {

    .section {
        padding: 120px 0;
    }

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .advantages-list {
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 72px) / 4);
    }

    .advantages-icon-contant {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .advantages-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .advantages-text {
        font-weight: normal;
    }

}
/* box-tri */

.team-section {
    background-color: #f4f4fd;
}

.section {
    padding: 96px 0;
}

.container {
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-contant {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-list {}

.team-social-list {
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 40px;
    height: 40px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .social-link:hover {
     background-color: #404bbf;
 }

 .social-link:focus {
     background-color: #404bbf;
 }

.team-social-icon {
    fill: #f4f4fd;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.button-exit-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-exit-icon:hover {
    background-color: #404bbf;
    border: none;
}

.button-exit-icon:focus {
    background-color: #404bbf;
    border: none;
}

.button-exit-icon:focus .modal-button-exit-icon {
    fill: #ffffff;
}

.button-exit-icon:hover .modal-button-exit-icon {
    fill: #ffffff;
}

.modal-button-exit-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.div-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.label-div {
    position: relative;
}

.div-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-input:focus {
    border-color: #4D5AE5;
}

.label-div:focus {
    border-color: #4D5AE5;
    ;
}

.div-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-input:focus-within+.div-svg {
    fill: #4D5AE5;
}

.form-div {
    margin-bottom: 8px;
}

.form-div-coment {
    margin-bottom: 16px;
}

.div-texterea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-texterea:focus {
    border-color: #4D5AE5;
}

.checbox {
    margin-bottom: 24px;
}

.visually-hidden:checked+.checkbox-label>.label-span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.checkbox-input {
    visibility: hidden;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.label-href {
    color: #4d5ae5;
    ;
}

.div-label {}

@media screen and (min-width: 769px) {

    .team-section {
        background-color: #f4f4fd;
    }

    .section {
        padding: 96px 0;
    }

    .container {
        max-width: 768px;
    }

    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
    }

    .team-list {
        gap: 72px 24px;
    }

    .team-item {
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .team-contant {
        padding: 32px 0;
    }

    .team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .team-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }

    .team-social-list {
    gap: 24px;
    }

    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
    }
    .team-social-icon {
        fill: #f4f4fd;
    }

}

@media screen and (min-width: 1152px) {
    .team-section {
         background-color: #f4f4fd;
    }

    .section {
        padding: 120px 0;
    }

        .container {
            max-width: 1158px;
            padding: 0 15px;
        }

    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
    }

        .team-list {
            gap: 24px;
        }

        .team-item {
            width: calc((100% - 72px) / 4);
        }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .team-contant {
        padding: 32px 0;
    }   
    .team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .team-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }

    .team-social-list {
        gap: 24px;
    }

    .social-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
    }

}

/* -=- */
/* box-for */

.section {
    padding: 96px 0;
}

.container {
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-cover-text {
    display: none;
}

.potfolio-content {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 769px) {

    .container {
         max-width: 768px;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-cover-text {
        display: none;
    }

}

@media screen and (min-width: 1152px) {

    .section {
        padding: 120px 0;
    }
    
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-cover-wrap {
        position: relative;
        overflow: hidden;
    }

    .portfolio-cover-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        padding: 40px 32px;
        position: absolute;
        top: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

/* footer */

.footer {
    padding: 93px 0 99px;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.footer-logo {
    margin-bottom: 16px;
    padding: 0;
    text-align: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    padding: 16px 0;
}

.footer-logo-accent {
    color: #f4f4fd;
}

/* .logo-accent {
    color: #2e2f42;
} */

.footer-text {
    max-width: 288px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social {
    margin: auto;
}

.footer-social {
    margin: auto;
}

.footer-social-subtitle {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.footer-label {
    width: 100%;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-icon {
    display: inline-flex;
    margin-left: 16px;
}

.footer-icon-use {
    fill: #ffffff;
}

@media screen and (min-width: 769px) {

    .logo {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            display: block;
            padding: 0px 0px;
        }

    .footer-container {
        gap: 72px 24px;
        padding-left: 96px;
        padding-right: 16px;
    }

    .footer-logo,
    .footer-social-subtitle {
        text-align: left;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-social {
        margin: 0;
    }

    .footer-logo,
    .footer-social-subtitle {
        text-align: left;
    }

    .footer-logo,
    .footer-social-subtitle {
        text-align: left;
    }

    .footer-form {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }
    
}

@media screen and (min-width: 1152px) {

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        align-items: baseline;
        gap: 0;
        padding-left: 16px;
    }

    .footer-logo-contant {
        margin-right: 120px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-social {
        margin: 0;
    }

    .footer-logo,
    .footer-social-subtitle {
        text-align: left;
    }

    .footer-subscribe {
        margin-left: auto;
    }

    .footer-logo,
    .footer-social-subtitle {
        text-align: left;
    }

    .footer-form {
        flex-wrap: nowrap;
        gap: 24px;
    }
}




































































































