.hide {
    display: none;
}
/* -=- */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --button-bg-color: #4d5ae5;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {

    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: none;
}

.contacts {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}

.header-navigation-content.current {
    position: relative;
}

.header-navigation-content.current:hover {
    color: #404bbf;
}

.header-navigation-content.current:focus {
    color: #404bbf;
}

.header-logo-color {
    color: #2e2f42;
}
/* burger-botom-mobal */
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-ico {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .burger-btn {
        display: none;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

      .header-list {
          display: flex;
          gap: 40px;
          margin: 0;
          padding: 0;
    }

    .header-point {}

    .header-navigation-content {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        padding: 24px 0 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        padding: 24px 0;
    }

    .header-navigation-content-none {
        color: #2E2F42;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
   
    .contacts-list-content {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

        .contacts-list-content:hover,
        .contacts-list-content:focus {
            color: #404bbf;
        }
    
        .contacts:hover {
            color: #404bbf;
        }
    
        .contacts:focus {
            color: #404bbf;
        }
    
        .contacts-list {
            gap: 40px;
        }
}


@media screen and (min-width: 1158px) {
    
    .header-navigation {
        display: flex;
        align-items: center;
    }
    
        
    .header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
    }
    
    .header-navigation-content.current {
        position: relative;
    }
    
    .header-navigation-content.current:hover {
        color: #404bbf;
    }
    
    .header-navigation-content.current:focus {
        color: #404bbf;
    }
    
    .header-logo-color {
        color: #2e2f42;
    } 
    
        .header-list {
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
    }
    
    .header-point {}
    
    .header-navigation-content {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        padding: 24px 0 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        padding: 24px 0;
    }
    
    .header-navigation-content-none {
        color: #2E2F42;
    }
    
    .header-navigation-content:hover,
    .header-navigation-content:focus {
        color: #404bbf;
    }

        .contacts {
            font-style: normal;
            margin-left: auto;
        }
    
        .contacts-list {
            display: flex;
        }
    
    
        .contacts-list-content {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .contacts-list-content:hover,
        .contacts-list-content:focus {
            color: #404bbf;
        }
    
        .contacts {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
    
        .contacts:hover {
            color: #404bbf;
        }
    
        .contacts:focus {
            color: #404bbf;
        }
    
        .contacts-list {
            gap: 40px;
        }
    
        .contacts-list-point {}
    
        .contacts-list-content {}
}

/* mobile-menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobail-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-menu-close:hover,
.mobail-menu-close:focus {
    background-color: #404bbf;
    border: none;
}

.mobail-menu-close-icon  {}

/* Nav */

.mobail-menu-nav {
    margin-bottom: auto;
}

.menu-point-cont {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

.no-end {
    padding-bottom: 40px;
}

.ending {
    padding: 0;
}

.menu-point-cont:hover {
    color: #404BBF;
}

.menu-point-cont:focus {
    color: #404BBF;
}


/* Adres */

.menu-adres {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 24px;
}

.otstyp {
    margin-bottom: 48px;
}

/* .address-no-end {
    margin-bottom: 48px;
} */

.menu-adres:hover,
.menu-adres:focus {
    color: #4D5AE5;
}

/* icon */

.social-network-content {
    display: flex;
    gap: 16px;
}

.social-network-point {
    width: 40px;
    height: 40px;
}

.social-network-point-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-point-a:hover {
    background-color: #404bbf;
}

.social-network-point-a:focus {
    background-color: #404bbf;
}

.social-network-icon {
    fill: #f4f4fd;
}

.information-button:hover {
    background-color: #404BBF;
}

.information-button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {

    .mobile-menu {
        display: none;
    }
}

/* box-one */

.information-section {
    /* background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* width: 320px; */
    /* height: 432px; */
    /* margin: 0 auto; */
    /* padding: 0 72px; */
    /* padding-left: 38px;
    padding-top: 72px;
    padding-bottom: 67px; */
}
    .information-section {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 320px;
        margin: 0 auto;
        padding-left: 38px;
        padding-top: 72px;
        padding-bottom: 67px;
    }
    
        @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
            .information-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-two-tel.jpg');
                /* background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-color: #2e2f42;
                width: 320px;
                margin: 0 auto;
                padding-left: 38px;
                padding-top: 72px;
                padding-bottom: 67px; */
            }
        }
    
        @media screen and (min-width: 768px) {
            .information-section {
                background-color: #2e2f42;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark-bg.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
            .information-section {
                background-image: url('../images/people-office-two-pln@2x.jpg');
            }
        }
    
        @media screen and (min-width: 1158px) {
            .information-section {
                background-color: #2e2f42;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark-bg.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
        screen and (min-resolution: 192dpi) and (min-width: 1158px),
        screen and (min-resolution: 2dppx) and (min-width: 1158px) {
            .information-section {
                background-image: url('../images/people-office-two-pc@2x.jpg');
            }
        }

.information {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    width: 216px;
    margin-bottom: 72px;
    /* padding: 72px 52px; */
}

.information-button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--button-bg-color);
    border-radius: 4px;
    /* padding: 16px 32px; */
    width: 169px;
    height: 56px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: 22px;
    margin-right: 40px;
}

@media screen and (min-width: 768px) {

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .information-section {
        padding: 0px 0px;
        width: 768px;
        height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-2x.jpg);
    }

    .information {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        padding-right: 0;
        padding-top: 112px;
        padding-left: 0;
        padding-bottom: 36px;
        margin: 0 136px;
        text-wrap: nowrap;
        inline-size: fit-content;
    }

    .information-button {
        margin-left: 300px;
    }

}

@media screen and (min-width: 1158px) {

.information-section {
        background-color: #2e2f42;
        /* padding: 188px 0; */
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    .information {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        /* padding-top: 188px; */
    }

    :root {
        --button-bg-color: #4d5ae5;
    }

    .information-button {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: var(--button-bg-color);
        border-radius: 4px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

/* box-two */

.box-two {
    padding: 96px 0;
}

.box-two-list {
    /* margin: 96px 0; */
}

.icons {
    display: none;
}

.box-two-item {
    padding:auto 96px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* Виріши проблему з відступом через геп */
     margin-bottom: 72px ;
}

.box-two-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42 ;
}

.box-two-paragraf {
    /* margin-bottom: 72px; */
}

@media screen and (min-width: 768px) {
    
    .box-two {
        padding: 96px 16px;
    }

    .box-two-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .box-two-item {
        width: calc((100% - 24px)/2);
        display: block;
    }

    .box-two-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }

    .box-two-paragraf {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 0px;
    }

}






@media screen and (min-width: 1158px) {
    
    .icons {
        display: block;
    }

        .box-two {
            padding: 120px 15px;
        }
    
        .box-two-list {
            display: flex;
            gap: 0 24px;
            align-items: flex-start;
        }
    
        .box-two-item {
            width: calc((100% - 72px) / 4);
        }
    
        .box-two-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
        }
    
        .box-two-paragraf {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
    
        .team-list-point {
            width: calc((100% - 72px) / 4);
        }
    
        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
        }
}

/* box-three */

.box-three {
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.team-list-point {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
    padding-left: 0;
    margin: 0;
    margin-bottom: 72px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-three {
    width: 288px;
}

.coffer-three {
    padding: 32px 0;
}



.box-three-title {
    font-family: var(--font-family);
    text-align: center;
    margin-bottom: 8px;
    flex-basis: calc((100% - 72px) / 4);
}

.team-information-paragraf {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-networks-point {
    width: 40px;
    height: 40px;
}

.social-networks-comtent:focus {
    background-color: #404bbf;
}

.social-networks-comtent {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-comtent:hover {
    background-color: #404bbf;
}

.social-networks-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .box-three {
            background-color: #F4F4FD;
            padding: 120px 0 120px;
            /* width: 768px; */
        }
    
        .team-title {
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 72px;
        }
    
        .team-list {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
    
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    
        .team-list-point {
            background-color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-right: 24px;
            border-radius: 0px 0px 4px 4px;
            padding-left: 0;
            margin: 0;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
    
        .img-three {}
    
        .coffer-three {
            padding: 32px 0;
        }
    
    
    
        .box-three-title {
            font-family: var(--font-family);
            text-align: center;
            margin-bottom: 8px;
            flex-basis: calc((100% - 72px) / 4);
        }
    
        .team-information-paragraf {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 8px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            text-align: center;
        }
    
        .social-networks {
            display: flex;
            justify-content: center;
            gap: 24px;
        }
    
        .social-networks-point {
            width: 40px;
            height: 40px;
        }
    
        .social-networks-comtent:focus {
            background-color: #404bbf;
        }
    
        .social-networks-comtent {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .social-networks-comtent:hover {
            background-color: #404bbf;
        }
    
        .social-networks-svg {
            fill: #f4f4fd;
        }
}

@media screen and (min-width: 1158px) {
    .box-three {
            background-color: #F4F4FD;
            padding: 0 15px;
        }
    
        .team-title {
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 72px;
        }
    
        .team-list {
            display: flex;
            gap: 24px;
        }
    
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    
        .team-list-point {
            background-color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-right: 24px;
            border-radius: 0px 0px 4px 4px;
            padding-left: 0;
            margin: 0;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
    
        .img-three {}
    
        .coffer-three {
            padding: 32px 0;
        }
    
    
    
        .box-three-title {
            font-family: var(--font-family);
            text-align: center;
            margin-bottom: 8px;
            flex-basis: calc((100% - 72px) / 4);
        }
    
        .team-information-paragraf {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 8px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            text-align: center;
        }
    
        .social-networks {
            display: flex;
            justify-content: center;
            gap: 24px;
        }
    
        .social-networks-point {
            width: 40px;
            height: 40px;
        }
    
        .social-networks-comtent:focus {
            background-color: #404bbf;
        }
    
        .social-networks-comtent {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .social-networks-comtent:hover {
            background-color: #404bbf;
        }
    
        .social-networks-svg {
            fill: #f4f4fd;
        }
}

/* box-four */

.box-four {
    padding: 96px 0;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-lis:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-design {
    color: #2e2f42;
    /* width: calc((100% - 48px) / 3); */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-design:hover p {
    transform: translateY(0%);
}

.icons-program {
    position: relative;
    overflow: hidden;
}

.icons-program-paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-design:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.coffer-four {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-list-information {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    width: calc((100% - 48px) / 3);
    width: auto;
    margin-bottom: 8px
}

@media screen and (min-width: 768px) {

    .portfolio-design {
        width: calc((100% - 48px) / 2);
    }

    .portfolio-list {
        justify-content: center;
    }

}

@media screen and (min-width: 1158px) {

    .box-four {
            padding: 96px 16px;
        }

    .portfolio-design {
        width: calc((100% - 48px) / 3);
    }
}

/* footer-1 */

.footer-icon-seting {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* align-items: baseline; */
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-content {
    /* margin-right: 120px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-ikon {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-ikon-span {
    color: #f4f4fd;
}

.social-network-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 72px;
}

.container {}

.social-network-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-network-content {
    display: flex;
    gap: 16px;
}

.social-network-point {
    width: 40px;
    height: 40px;
}

.social-network-point-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-point-a:hover {
    background-color: #31d0aa;
}

.social-network-point-a:focus {
    background-color: #31d0aa;
}

.social-network-icon {
    fill: #f4f4fd;
}


/* foter-email */
.box-five {
    /* margin-left: 80px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-paragraf {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.box-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.box-form-label {}

.form-futter-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.form-futter-input::placeholder {
    color: #ffffff;
}

.form-button {
padding: 8px;
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.form-div {
    margin-bottom: 8px;
}

.form-button-svg {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-icon-seting {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .footer-wrapper {
            display: flex;
            align-items: baseline;
        }
    
        .footer {
            background-color: #2e2f42;
            padding: 100px 0;
            padding-left: 108px;
        }
    
        .footer-content {
            /* margin-right: 120px; */
            display: flex;
            flex-direction: column;
        }
    
        .footer-ikon {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            margin-bottom: 16px;
            display: inline-block;
        }
    
        .footer-paragraf {
            line-height: 1.5;
            letter-spacing: 0.02em;
            max-width: 264px;
        }
    
        .footer-ikon-span {
            color: #f4f4fd;
        }
    
        .social-network-footer {
            display: flex;
            padding-bottom: 72px;
            flex-direction: column;
            padding-left: 24px;
        }
    
        .container {}
    
        .social-network-paragraf {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            margin-bottom: 16px;
        }
    
        .social-network-content {
            display: flex;
            gap: 16px;
        }
    
        .social-network-point {
            width: 40px;
            height: 40px;
        }
    
        .social-network-point-a {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .social-network-point-a:hover {
            background-color: #31d0aa;
        }
    
        .social-network-point-a:focus {
            background-color: #31d0aa;
        }
    
        .social-network-icon {
            fill: #f4f4fd;
        }
    
        /* -=- */
        /* foter-email */
        .box-five {
            /* margin-left: 80px; */
            display: flow;
        }
    
        .box-paragraf {
            margin-bottom: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #ffffff;
        }
    
        .box-form {
            display: flex;
            gap: 24px;
        }
    
        .box-form-label {}
    
        .form-futter-input {
            width: 264px;
            height: 40px;
            border: 1px solid #ffffff;
            background-color: transparent;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            padding-left: 16px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            color: #ffffff;
        }
    
        .form-futter-input::placeholder {
            color: #ffffff;
        }
    
        .form-button {
            min-width: 165px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            border-radius: 4px;
        }
    
        .form-div {
            margin-bottom: 8px;
        }
    
        .form-button-svg {
            margin-left: 16px;
        }
}

@media screen and (min-width: 1158px) {
    .footer-icon-seting {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .footer-wrapper {
            display: flex;
            align-items: baseline;
        }
    
        .footer {
            background-color: #2e2f42;
            padding: 100px 0;
            padding-left: 15px;
        }
    
        .footer-content {
            margin: 0px 0px;
            margin-bottom: 0px;
            padding-right: 120px;
            padding-bottom: 72px;
        }
    
        .footer-ikon {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            margin-bottom: 16px;
            display: inline-block;
        }
    
        .footer-paragraf {
            line-height: 1.5;
            letter-spacing: 0.02em;
            max-width: 264px;
        }
    
        .footer-ikon-span {
            color: #f4f4fd;
        }
    
        .social-network-footer {
            padding: 0px;
            padding-right: 80px;
        }
    
        .container {}
    
        .social-network-paragraf {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            padding-bottom: 16px;
        }
    
        .social-network-content {
            display: flex;
            gap: 16px;
        }
    
        .social-network-point {
            width: 40px;
            height: 40px;
        }
    
        .social-network-point-a {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .social-network-point-a:hover {
            background-color: #31d0aa;
        }
    
        .social-network-point-a:focus {
            background-color: #31d0aa;
        }
    
        .social-network-icon {
            fill: #f4f4fd;
        }
    
        /* -=- */
        /* foter-email */
        .box-five {
            margin-left: 0px;
        }
    
        .box-paragraf {
            padding-bottom: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #ffffff;
        }
    
        .box-form {
            display: flex;
            gap: 24px;
        }
    
        .box-form-label {}
    
        .form-futter-input {
            width: 264px;
            height: 40px;
            border: 1px solid #ffffff;
            background-color: transparent;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            padding-left: 16px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            color: #ffffff;
        }
    
        .form-futter-input::placeholder {
            color: #ffffff;
        }
    
        .form-button {
            min-width: 165px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            border-radius: 4px;
        }
    
        .form-div {
            margin-bottom: 8px;
        }
    
        .form-button-svg {
            margin-left: 16px;
        }
}

/* reg */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    height: 623px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.button-exit-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-exit-icon:hover {
    background-color: #404bbf;
    border: none;
}

.button-exit-icon:focus {
    background-color: #404bbf;
    border: none;
}

.button-exit-icon:focus .modal-button-exit-icon {
    fill: #ffffff;
}

.button-exit-icon:hover .modal-button-exit-icon {
    fill: #ffffff;
}

.modal-button-exit-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.div-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.label-div {
    position: relative;
}

.div-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-input:focus {
    border-color: #4D5AE5;
}

.label-div:focus {
    border-color: #4D5AE5;
    ;
}

.div-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-input:focus-within+.div-svg {
    fill: #4D5AE5;
}

.form-div {
    margin-bottom: 8px;
}

.form-div-coment {
    margin-bottom: 16px;
}

.div-texterea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-texterea:focus {
    border-color: #4D5AE5;
}

.checbox {
    margin-bottom: 24px;
}

.visually-hidden:checked+.checkbox-label>.label-span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.checkbox-input {
    visibility: hidden;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    gap: 7.5px;
}

.label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
}

.label-href {
    color: #4d5ae5;
}

.div-label {}

@media screen and (min-width: 768px) {
    .backdrop.is-open {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(46, 47, 66, 0.4);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 408px;
            min-height: 584px;
            border-radius: 4px;
            transform: translate(-50%, -50%);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            background-color: #fcfcfc;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 24px 24px 24px;
        }
    
        .button-exit-icon {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e9fc;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            padding: 0;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .button-exit-icon:hover {
            background-color: #404bbf;
            border: none;
        }
    
        .button-exit-icon:focus {
            background-color: #404bbf;
            border: none;
        }
    
        .button-exit-icon:focus .modal-button-exit-icon {
            fill: #ffffff;
        }
    
        .button-exit-icon:hover .modal-button-exit-icon {
            fill: #ffffff;
        }
    
        .modal-button-exit-icon {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal-paragraf {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 16px;
        }
    
        .div-label {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
            display: block;
            margin-bottom: 4px;
        }
    
        .label-div {
            position: relative;
        }
    
        .div-input {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding-left: 38px;
            outline: transparent;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .div-input:focus {
            border-color: #4D5AE5;
        }
    
        .label-div:focus {
            border-color: #4D5AE5;
            ;
        }
    
        .div-svg {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .div-input:focus-within+.div-svg {
            fill: #4D5AE5;
        }
    
        .form-div {
            margin-bottom: 8px;
        }
    
        .form-div-coment {
            margin-bottom: 16px;
        }
    
        .div-texterea {
            width: 100%;
            height: 120px;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding: 8px 16px;
            outline: transparent;
            resize: none;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .div-texterea:focus {
            border-color: #4D5AE5;
        }
    
        .checbox {
            margin-bottom: 24px;
        }
    
        .visually-hidden:checked+.checkbox-label>.label-span {
            background-color: #404bbf;
            fill: #F4F4FD;
            border: none;
        }
    
        .checkbox-input {
            visibility: hidden;
        }
    
        .checkbox-label {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
        }
    
        .label-span {
            width: 16px;
            height: 16px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 2px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            fill: transparent;
        }
    
        .label-href {
            color: #4d5ae5;
        }
    
        .div-label {}
}





















