.hide {
    display: none;
}
/* -=- */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --button-bg-color: #4d5ae5;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

/* .current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {

    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: none;
}

.contacts {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}

.header-navigation-content.current {
    position: relative;
}

.header-navigation-content.current:hover {
    color: #404bbf;
}

.header-navigation-content.current:focus {
    color: #404bbf;
}

.header-logo-color {
    color: #2e2f42;
}
/* burger-botom-mobal */
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-ico {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .burger-btn {
        display: none;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

      .header-list {
          display: flex;
          gap: 40px;
          margin: 0;
          padding: 0;
    }

    .header-point {}

    .header-navigation-content {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        padding: 24px 0 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        padding: 24px 0;
    }

    .header-navigation-content-none {
        color: #2E2F42;
    }

    .contacts {
        display: block;
        font-style: normal;
    }
   
    .contacts-list-content {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


}